html {
  width: 30em;
  height: 100%;
  word-wrap: break-word;
  margin: auto;
  overflow: hidden;

}

body {
  margin: 0;
  overflow: hidden;

}

#navbar {
  width: 30em;
  height: 3em;
  background-color: limegreen;
  position: fixed;

}

#ad {
  position: relative;
  width: 30em;
  height: 13em;
  top: 3em;
  white-space: nowrap;
}

.thumbnail {
  position: absolute;

  width: 30em;
  height: 13em;
}

#category {
  position: absolute;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 auto;
  width:80px;
  float:left;
}

a {
  text-decoration: none;
}